{% extends 'base.html' %}

{% block title %}
  Detalhes do Programa
{% endblock %}

{% block content %}
<div class="container">
  <main>
    <div class="row">
      <div class="col-md-12">
        <div class="card text-center mt-3">
          <div class="card-header">
            Detalhes do Programa
          </div>
          <div class="card-body" style="text-align: left;">
            <h4>Dados do Programa</h4>
            <div><strong>Nome: </strong>{{ program.name }}</div>
            <div><strong>Descrição: </strong>{{ program.description }}</div>
            <div><strong>Criado em: </strong>{{ program.created_at }}</div>
            <div><strong>Atualizado em: </strong>{{ program.updated_at }}</div>
                        
            <a href="{% url 'program_list' %}" class="btn btn-primary mt-3">Voltar</a>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
{% endblock %}
