{% extends "base.html" %}

{% block title %}
  Criar Grupo
{% endblock %}

{% block content %}
<main>
  <div class="row mt-4">
    <div class="col-md-6 offset-md-3">
      <h3 class="text-center">Criar Grupo</h3>
      <form method="post" action="{% url 'group_create' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Criar Grupo</button>
      </form>
      <a href="{% url 'group_list' %}" class="btn btn-danger mt-3">Cancelar</a>
    </div>
  </div>
</main>
{% endblock %}
